@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'poppins', sans-serif;
}
@media screen and (min-width:320px) {
    .navigation{
        position: absolute;
        padding-top: 10px;
        width: 100%;
    }
    .nav-brand{
        font-size: 15px;
        text-decoration:none;
        color: rgb(245, 242, 242);
        font-weight: bold;
        text-shadow: 1px 1px 3px rgb(90, 90, 90);
    }
    .navigation > .nav-brand > img{
        width: 60px;
    }
    /* .links{
        float: right;
        margin-right: 10px;
    }
    .links > a{
        text-decoration: none;
        color: white;
        margin-right: 10px;
    }
    .links > a:hover{
        text-decoration: underline;
        color: black;
    } */
    .banner-bg{
        width: 100%;
        height: 300px;
    }
    .banner{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: -220px;
    }
    .grid-banner:nth-child(1){
        text-align: center;
        animation: fade-in 2s ease-in-out;
    }
    @keyframes fade-in{
        0%{opacity:0;}
        100%{opacity:1;}
    }
    .signInBtn{
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        background:rgb(98, 120, 236);
        box-shadow: 1px 1px 10px rgb(141, 141, 141);
        color: white;
        text-decoration: none;
    }
    .signInBtn:hover{
        background:rgb(52, 99, 128);
    }
    .grid-banner > h3{
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 5px rgb(70, 70, 70);
    }
    .grid-banner > p{
        color:rgb(91, 57, 153);
    }
    .grid-banner:nth-child(2){
        padding-left:50px;
    }
    .grid-banner > img{
        width: 90%;
        animation:from-top-to-bottom 2s ease-out;
    }
    @keyframes from-top-to-bottom{
        0%{
            opacity: 0;
            transform:translateY(-500px);
        }
        100%{
            opacity:1;
            transform:translateY(0);
        }
    }
    .content > p > b{
        color:rgb(98, 120, 236);
    }
    .desc{
        margin: 0 20px 0 20px;
        font-size: 13px;
    }
    .tbl-cont{
        padding-left:20px;
        padding-right:20px;
    }
    .table-grid > ul{
        font-size: 14px;
    }
    .tables{
        margin-top: 20px;
        box-shadow: 1px 1px 10px rgb(192, 191, 191);
        border-radius: 10px;
        padding: 15px;
    }
    .image > img{
        width: 100%;
        border-radius:10px;
    }
    .table-title{
        font-weight: bold;
        text-align: center;
        font-size: 20px;
    }
    footer{
        padding-top: 10px;
    }
    .footer-header{
        display:inline-block;
        margin-top:60px ;
        box-shadow: 1px 1px 5px black;
        border-radius: 10px;
        width: 90%;
        padding-left:8px;
        padding-right:8px;
        padding-top: 5px;
        padding-bottom: 20px;
        background-color: white;
        text-align: center;
    }
    .footer-brand{
        text-decoration: none;
        color: rgb(34, 34, 34);
        font-weight: bold;
        font-size: 18px;
    }
    .footer-login{
        background-color: rgb(98, 120, 236);
        border-radius: 50px;
        padding:5px 20px 5px 20px;
        color: white;
        text-decoration: none;
    }
    .footer-login:hover{
        background-color: rgb(82, 56, 112);
    }
    .footer-body{
        background:linear-gradient(to bottom right, rgb(99, 65, 229), rgb(82, 177, 244));
        margin-top:-50px;
        padding: 90px 20px 0 20px;
        text-align: center;
    }
    .footer-inner:nth-child(1){
        margin-bottom: 60px;
    }
    .footer-inner:nth-child(1) > img{
        width: 150px;
    }
    .footer-inner:nth-child(1) > h3{
        font-size: 18px;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 5px rgb(44, 44, 44);
    }
    .footer-inner2{
        padding-bottom: 20px;
        color: white;
    }
}
@media screen and (min-width:481px) {
    .navigation{
        position: absolute;
        padding-top: 10px;
        width: 100%;
    }
    .navigation > .nav-brand > img{
        width: 60px;
    }
    /* .links{
        float: right;
        margin-right: 25px;
    }
    .links > a{
        text-decoration: none;
        color: rgb(44, 44, 44);
        margin-right: 10px;
    }
    .links > a:hover{
        text-decoration: underline;
        color: black;
    } */
    .desc{
        margin: 0 10px 0 10px;
        font-size: 15px;
    }
    .tables{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        box-shadow: none;
        gap: 20px;
    }
    .tbl2 > .table-grid:nth-child(1){
        grid-column:2/3 ;
    }
    .tbl2 > .table-grid:nth-child(2){
        grid-column:1/2 ;
        margin-top: -180px;
    }
    .image{
        box-shadow: 1px 1px 10px gray;
        text-align: center;
        border-radius:10px;
    }
    .image > img{
        width: 80%;
        margin-top: 20px;
    }
}
@media screen and (min-width:769px){
    .nav-brand{
        font-size: 20px;
        text-decoration:none;
        color: rgb(245, 242, 242);
        font-weight: bold;
        text-shadow: 1px 1px 3px rgb(66, 66, 66);
        margin-left: 30px;
    }
    /* .links{
        float: right;
        margin-right: 35px;
    }
    .links > a{
        font-weight: bold;
        text-decoration: underline;
        font-size: 18px;
    }
    .links > a:hover{
        text-shadow: 1px 1px 5px rgb(224, 224, 224);
    } */
    .banner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: -250px;
    }
    .banner-bg{
        height: 350px;
    }
    .grid-banner > img{
        width: 100%;
        margin-top: -50px;
    }
    .grid-banner > p{
        color:rgb(59, 37, 100);
    }
    .signInBtn{
        padding: 8px 15px 8px 15px;
        box-shadow: 1px 1px 5px rgb(78, 78, 78);
    }
    .grid-banner:nth-child(1){
        padding:0 20px 0 40px ;
        text-align: start;
    }
    .tbl-cont{
        padding: 0px 35px 0px 35px;
    }
    .image{
        margin-right: 30px;
        width: 80%;
        height: 230px;
        padding-top: 5px;
    }
    .image > img{
        width: 80%;
    }
    .desc-list > p{
        margin-left: 25px;
        text-align: start;
    }
}
@media screen and (min-width:1025px){
    .nav-brand{
        margin-left: 50px;
    }
    
    /* .links{
        margin-right:70px;
    }
    .links > a{
        font-size: 18px;
    } */
    .banner-bg{
        height: 450px;
    }
    .grid-banner:nth-child(1){
        margin-top: -50px;
        padding-left: 60px;
    }
    .grid-banner > img{
        width: 90%;
        margin-top: -120px;
    }
    .desc{
        margin: 0 30px 0 30px;
        font-size: 20px;
    }
    .tbl-cont{
        padding: 0px 35px 0px 35px;
    }
    .image{
        margin-right: 30px;
        width: 80%;
        height: 230px;
        padding-top: 10px;
    }
    .image > img{
        width: 60%;
    }
    .desc-list > p{
        margin-left: 25px;
    }
    
    /* .tbl2 > .table-grid:nth-child(2){
        margin-top: -230px;
    } */
    .table-title{
        text-align: start;
    }
    .table-grid > ul{
        font-size: 18px;
    }
}